.container-dices {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1em;
    gap: 2em
}

/* .dices-title {
    
} */

.dices-total {
    display: flex;
    flex-flow: column;
}

    /* .dices-total__select {

    } */

.dice-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dices-btn {
    display: inline-block;

    margin: 1.5em;
    padding: .5em 1.5em;

    border: 2px solid white;
    border-radius: .3em;

    cursor: pointer;
}

.dices-btn:hover,
.dices-btn:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.dice {
    width: 30%;
    
    /* margin: 2em 0; */
    padding: .5em 0;
    
    /* border: 2px solid white;
    border-radius: .3em; */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dice-img {
    width: 25%;
}

.dice-txt  {
    text-align: center;
}

.dice-set {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2em
}

.display-dice-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.8em;
    
    /* padding: 1em;
    border: 2px solid white;
    border-radius: 1em; */
}
.display-dice-set div {
    width: 75px;
    cursor: pointer;
}

.dice-set-img {
    width: 100%;
}


.dice-set-img:hover {
    opacity: .2
}

.dice-set button {
    margin: 0
}

.plays--results {
    display: flex;
    flex-direction: column;
    
    gap: 1rem
}

.dice--play {
    /* TODO: USE A VAR TO ADJUST THE WIDTH ACCORDING TO THE DICE SET */
    width: 80%;
    width: calc(100 - var(--total--dices, 0));

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    font-size: 2rem;
}

.user-answer {
    font-size: 2.5rem;
    width: 205px

}

.dice--play__correct {
    color: rgb(159, 225, 142)

}
.dice--play__wrong {
    color: rgb(225, 142, 159)
}

/* 
***********
M O B I L E
***********
*/

@media screen and (max-width: 600px){
    .dice-type {
        display: grid;
        gap: 1em;
    }
    
    .dice-type > * {
        margin: 0;
        width: 70%;
        justify-self: center;
    }
  }




























/* .container-grid-dices {
    padding: 1em;
    display: grid;
    grid-template-areas: 
    "title title title title title title title title title"
    "p p p p p p p p p"
    "p p p p p p p p p"
    ". . dice dice dice dice dice . ."
    "dice-set dice-set dice-set dice-set dice-set dice-set dice-set dice-set dice-set"
    "p p p p p p p p p"
    "play play play play play play play play play "
    "score score score score score score score score score";
}

.dices-title {
    grid-area: title;
    text-align: center;
}

.dices-p {
    grid-area: p;
    text-align: center;
    background-color: crimson;
}

.dices-dice {
    grid-area: dice;
}

.dices-dice-set {
    grid-area: dice-set;
}

.dices-play {
    grid-area: play;
}

.dices-score {
    grid-area: score;
} */

