.container-games {
    padding: 2rem 0;
}

.games-title {
    /* margin: 2rem; */
    text-align: center;
    
}

.games-display {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem; 
    
    /* grid-template-columns: 1fr 1fr 1fr;*/
}

.card {
    /* min-width: 300px; */

    display: flex;
    flex-flow: column nowrap;
/* 
    overflow: hidden;
    text-overflow: ellipsis; */

    background-color: rgba(240, 248, 255, 0.174);
    background-color: rgba(255, 136, 0, 0.39);
    border-radius: .85rem;

    box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5), 10px 10px 20px -10px rgba(0, 0, 0, 0.5);
    
}

.card-img {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 75%,
        0 100%
    );
}

/* .card-img:after {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 85%,
        0 85%
    );
} */

.card-img:hover {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0% 100%
    );
    cursor: pointer;
}

.card-img>a>img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;

    border-top-left-radius: .85rem;
    border-top-right-radius: .85rem;
}


.card-content {
    padding: 1.5rem;

    display: flex;
    flex-flow: column nowrap;
}

.card-content > h3 {
    margin: 1rem;
    text-align: center;
}

.card-content > h4 {
    letter-spacing: .15rem
}
.card--content__game--name {
    color: rgb(232, 226, 49);
    letter-spacing: .25rem

}

.card--content__game--highscore {
    margin-bottom: 2rem;
    
    color:rgba(34, 34, 34, 0.745);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .35rem;
}

.card-content > p {
    margin: 0 .8rem;
    font-weight: 100;
    --max-lines: 3;
    --line-height: 1.5;

    max-height: calc(var(--max-lines)* 1em * var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
}

.card-content>p::before{
    content: '';
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    /* background: linear-gradient(to bottom, transparent, white); */
}

.see-more-btn {
    appearance: none;
    border: 2px solid white;
    padding: .5em;
    border-radius: .3em;
    cursor: pointer;
    width: 35%;
    margin: 1rem 0 2rem 0;
    align-self: center;
    text-align: center;
}

.see-more-btn:hover {
    background-color: rgba(255,255,255,.35);
}


.see-more-btn::before {
    content: 'show more';
    /* padding-left: .75rem; */
    color: white;
}

.see-more-btn:hover::before {
    content: 'show more';
    /* padding-left: .75rem; */
}

.see-more-btn:checked::before {
    content: 'show less';
    /* padding-left: .75rem; */
    color: white;
}

.card-content>p:has(+ .see-more-btn:checked) {
    max-height: none;
    font-weight: 400;
}

.card-content > h4 {
    text-align: center;
}