/* @import '../CSS/base.css'; */
@import '../CSS/navbar.css';
@import '../CSS/footer.css';
@import '../CSS/home.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #f5f5f5;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
  height: 100vh;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#app{
  min-height: 100dvh;
  
  /* background-color: rgb(27, 37, 27); */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
  
}

@media screen and (max-width: 872px){
  body {
    background: #23d5ab;
  }

  
}