sup {
    font-size: .6rem;
}

.numbers-game {
    color: #153515;
    text-align: center;
}

.numbers-btn {
    display: inline-block;
    
    margin: 1.5em;
    padding: .5em 1.5em;
    
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;

    border: 2px solid white;
    border-radius: .3em;

    cursor: pointer;
}

.numbers-btn:hover,
.numbers-btn:focus {
    background-color: rgba(255, 255, 255, 0.5);
}


/* the value of --square--side custom property is binded in Numbers.vue with squareSide in numbers.js store  */
.square {
    display: grid;
    grid-template-rows: repeat(var(--square--side), 90px);
    grid-template-columns: repeat(var(--square--side), 90px);
    gap: 0.5em;
}

.cell {   
    font-size: 2rem;
    font-weight: 700;

    border: 3px solid white;
    border-radius: .3em;
    
    cursor: pointer;
    
    display: grid;
    background-color: blueviolet;
}

.cell--content {
    justify-self: center;    
    align-self: center;  

}