sup {
    font-size: .6rem;
}

.numbers-game {

}

.numbers-btn {
    display: inline-block;
    
    margin: 1.5em;
    padding: .5em 1.5em;
    
    font-size: 1rem;

    border: 2px solid white;
    border-radius: .3em;

    cursor: pointer;
}

.numbers-btn:hover,
.numbers-btn:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.square {
    display: grid;
    grid-template-rows: repeat(5, 90px);
    grid-template-columns: repeat(5, 90px);
    gap: 0.5em;
}

.cell {   
    font-size: xx-large;
    
    border: 3px solid white;
    border-radius: .3em;
    
    cursor: pointer;
    
    display: grid;
}

.cell--content {
    justify-self: center;
    align-self: center;

}