h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    
    text-transform: capitalize;

}

.high__score__games {   
    font-weight: 500;
    
    display: grid;
    place-items: center;
    gap: .25rem
}

.high__score__games > * {   
    color: darkgreen
}