.high__score--title {
    margin: 1em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;

}   
.high__score__games {   
    color: rgb(204, 204, 204);
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    
    display: grid;
    place-items: center;
    gap: .25rem
}


.high__score__games h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    
    color: white;
    font-weight: 700;
    text-transform: capitalize; 
}



